@model IEnumerable<string>

<h1>List of entities</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-action="Edit" asp-route-entityName="@item">@item</a>
        </li>
    }
</ul>