@model EntityDataDto
@{
    ViewData["Title"] = "DataBase management";
}

@if (Model is null || Model.EntityData.Count == 0)
{
    <h4>No data in the database</h4>
    return;
}

<h1>Edit - @Model.EntityName</h1>

<div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                @foreach (var header in Model.EntityData)
                {
                    foreach (var row in header)
                    {
                        <th>@row.Name</th>
                    }
                    break;
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var records in Model.EntityData)
            {
                <tr onclick="selectRow(this)">
                    @foreach (var row in records)
                    {
                        <td>@row.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function selectRow(row) {
        // Remove the "selected" class from all rows
        var rows = document.getElementsByTagName("tr");
        for (var i = 0; i < rows.length; i++) {
            rows[i].classList.remove("selected-row");
        }

        // Add the "selected" class to the clicked row
        row.classList.add("selected-row");
    }
</script>
